ion-toolbar{
    --background: #f5f5f3;
}
ion-content{
    --background: url(../../../assets/icon/backgroundRegistrarte.jpg) no-repeat center / cover fixed;

    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{
        font-weight: 700;
        font-size: 36px;
        color: #f8f8f8;
        margin-bottom: 30px;
    }
    img{
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 8px solid white;
    }
    #form {
        margin-top: 15%;
        padding-left: 30px;
        padding-right: 30px;
        
        ion-input{
           background: white;
           display: flow-root;
           margin-bottom: 3%;
        }

        ion-button{
            margin-top: 35px;
            height: 48px;
            font-size: 18px;
            text-transform: initial;
            border-radius: 50px;
            box-shadow: 1px 8px 8px 0px #3880ff;
        }
        
    }
    p{
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: 20px;
        font-size: 14px;
    }
    #adcommerce{
        text-align: center;
        font-size: 10px;
        color: white;
    }
}