<div class="mod mod-footnotes">
  <div class="mod-footnotes__item copy copy--25">
  <strong>Importante</strong>
</div>
<div class="mod-footnotes__item copy copy--25">
  <span>*</span>
  <div class="rte">Estos productos promocionales, a diferencia de nuestro surtido de artículos permanente, solo están disponibles en cantidades limitadas. Por lo que pueden agotarse nada más comenzar la campaña o el primer día de la misma.</div>
</div>
<div class="mod-footnotes__item copy copy--25">
  <span>**</span>
  <div class="rte">Estos productos sólo están disponibles en catidades limitadas. Por lo que pueden agotarse antes de finalizar la promoción.</div>
</div>