<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="warning" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tu lista de la compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let post of cesta">
    <img src={{post.imgUrl}} alt="">
    <ion-card-title>{{post.nombre}}</ion-card-title>
    <ion-card-title>{{post.cantidad}}</ion-card-title>
  </ion-card>
  <ion-button (click)="comprarTodo()"> Realizar compra</ion-button>
  <div class="mod-overview-intro__content">
    <h1 class="heading-secondary-h2">Lista de la compra</h1>
  </div>
</ion-content>
